@model roider.Models.QAs

@{
    ViewBag.Title = "Edit Q&A";
    Layout = "_Layout";
}

<h2>Edit Q&A</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Qaid" />
    <div class="form-group">
        <label asp-for="StudentId" class="control-label"></label>
        <select asp-for="StudentId" class="form-control">
            @foreach (var student in ViewBag.StudentsList)
            {
                <option value="@student.StudentId">@($"{student.StudentId} - {student.StudentName}")</option>
            }
        </select>
        <span asp-validation-for="StudentId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CourseId" class="control-label"></label>
        <select asp-for="CourseId" class="form-control">
            @foreach (var course in ViewBag.CoursesList)
            {
                <option value="@course.CourseId">@($"{course.CourseId} - {course.CourseTitle}")</option>
            }
        </select>
        <span asp-validation-for="CourseId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Question" class="control-label"></label>
        <input asp-for="Question" class="form-control" />
        <span asp-validation-for="Question" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Answer" class="control-label"></label>
        <input asp-for="Answer" class="form-control" />
        <span asp-validation-for="Answer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FeedbackDate" class="control-label"></label>
        <input asp-for="FeedbackDate" class="form-control" />
        <span asp-validation-for="FeedbackDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div class="btn-group" role="group">
        @* <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.CourseId">Edit</a> *@
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Qaid">Delete</a>
        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.Qaid">Details</a>
        <a class="btn btn-outline-dark" asp-action="Index">Back</a>
    </div>