@* @model System.Collections.Generic.List<roider.Models.Courses> *@

@{
    // ViewBag.Title = "Courses";
    Layout = "_Layout";
}


@model List<roider.Models.Courses>

@* <h2>Courses</h2> *@

@* <table class="table"> *@
@*     <thead> *@
@*     <tr> *@
@*         <th>Course ID</th> *@
@*         <th>Course Title</th> *@
@*     </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*     @foreach (var course in Model) *@
@*     { *@
@*         <tr> *@
@*             <td>@course.CourseID</td> *@
@*             <td>@course.CourseTitle</td> *@
@*         </tr> *@
@*     } *@
@*     </tbody> *@
@* </table> *@
<style>
    .table-body{
        height: auto;
    }
</style>
<table class="table">
    <thead>
    <tr>
        <th>Course ID</th>
        <th>Course Title</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody class="table-body">
    @foreach (var course in Model)
    {
        <tr>
            <td>@course.CourseID</td>
            <td>@course.CourseTitle</td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@course.CourseID">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@course.CourseID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
