@model Enrollments

@{
    ViewBag.Title = "Enrollment Details";
    Layout = "_Layout";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Enrollment Details</h2>

    <div>
        <h4 class="text-center mb-4">Enrollment Information</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">Enrollment ID</dt>
            <dd class="col-sm-10">@Model.EnrollmentId</dd>
            <dt class="col-sm-2">Student ID</dt>
            <dd class="col-sm-10">@Model.StudentId</dd>
            <dt class="col-sm-2">Course ID</dt>
            <dd class="col-sm-10">@Model.CourseId</dd>
            <dt class="col-sm-2">Enroll Date</dt>
            <dd class="col-sm-10">@Model.EnrollDate.ToShortDateString()</dd>
        </dl>
    </div>

    <div class="text-center mt-4">
        <a class="btn btn-primary mr-2" asp-action="Edit" asp-route-id="@Model.EnrollmentId">Edit</a>
        <a class="btn btn-danger mr-2" asp-action="Delete" asp-route-id="@Model.EnrollmentId">Delete</a>
        <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
    </div>
</div>