@model roider.Models.Enrollments

<h2>Enrollment Details</h2>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Enrollment ID</dt>
        <dd class="col-sm-10">@Model.EnrollmentId</dd>
        <dt class="col-sm-2">Student ID</dt>
        <dd class="col-sm-10">@Model.StudentId</dd>
        <dt class="col-sm-2">Course ID</dt>
        <dd class="col-sm-10">@Model.CourseId</dd>
        <dt class="col-sm-2">Enroll Date</dt>
        <dd class="col-sm-10">@Model.EnrollDate.ToShortDateString()</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EnrollmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div class="btn-group" role="group">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.EnrollmentId">Edit</a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.EnrollmentId">Delete</a>
    @* <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.EnrollmentId">Details</a> *@
    <a class="btn btn-outline-dark" asp-action="Index">Back</a>
</div>
